@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    font-family: "Space Grotesk", sans-serif ;
}

.icon {
    width: 48px;
    height: 48px;
  }

.navbar {
    border: none; /* Remove any border */
    margin: 0;    /* Remove margin if causing spacing */
  }
.Aboutrj {
    border: none; /* Remove any border */
    margin: 0;    /* Remove margin if causing spacing */
  }

.Contact{
    border: none; /* Remove any border */
    margin: 0;
}

.Experience{
    border: none; /* Remove any border */
    margin: 0;
}
.Hero{
    border: none; /* Remove any border */
    margin: 0;
}
.Projects{
    border: none; /* Remove any border */
    margin: 0;
}
.Technologies{
    border: none; /* Remove any border */
    margin: 0;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
  }

.preloader{
    height: 100vh;
    width: 100%;
    font:inter;
    background: #000;
    color: #fff;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    z-index:55;
    display:flex;
    justify-content: center;
    align-items:center;
    overflow:hidden;
}

.preloader .texts-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 300px;
    font-size: 18px;
    font-weight: 700;
    overflow: hidden;
    color:#fff;
}

html {
    scroll-behavior: smooth;
  }
  
  .relative {
    position: relative;
}

.w-screen {
    width: 100vw;
}

.h-screen {
    height: 100vh;
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center;
}

.absolute {
    position: absolute;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
